<div class="col-10 offset-1 about">
  <h1> About Splurty </h1>

  <p>
    Splurty was built by <a target="blank" href="http://github.com/ViaJonah">Jonah</a>, an aspiring Web Developer seeking more.
  </p>
  <br/>
  <p> Jonah is currently an aspiring Web Developer that is trying to find his place in the coding world.
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="http://www.thefirehoseproject.com"> here</a>
  </p>

  <div class="row">
    <div class ="col-11 col-sm-6 photo">
      <%= image_tag 'jonah.JPG', class: 'img_fluid' %>
    </div>

    <div class="col=11 col-sm-6 offset-sm-1">
      <h2 class="text-center">Jonah Yung</h2>
      <br />
      <p>
        Jonah is a Web Developer from Pinole, CA. He has had interest in coding ever since Freshman year of high school.
      </p>
    </div>
  </div> 
  <br class="clear"/>

  <br />
  <br />
  <br />
  <br />


</div>